---
---

<section class="section about" id="about">
  <div class="container">
    <div class="about-block reveal">
      <p>
        Привет! Я&nbsp;&mdash; Анна. Строила IT-бизнес в&nbsp;4&nbsp;странах, а&nbsp;потом собрала чемодан, купила красный Mini Cooper и&nbsp;переехала жить на&nbsp;Амальфитанское побережье. Решение, о&nbsp;котором ни&nbsp;разу не&nbsp;пожалела.
      </p>
      <p>
        Я&nbsp;знаю здесь каждый уголок&nbsp;&mdash; секретные пляжи, атмосферные улочки, лучшие локальные рестораны и&nbsp;настоящий дух Амальфи, которого нет в&nbsp;путеводителях.
      </p>
      <p>
        Мои экскурсии&nbsp;&mdash; это не&nbsp;тур, а&nbsp;ощущение, что вы&nbsp;приехали к&nbsp;близкому другу, который знает здесь всё самое красивое и&nbsp;вкусное. &laquo;Лучшая часть поездки&raquo;&nbsp;&mdash; так говорят мои гости.
      </p>
      <p>
        Никаких толп и&nbsp;спешки. Только приватные группы, индивидуальный подход, гибкий маршрут и&nbsp;внимание к&nbsp;каждой детали вашего путешествия.
      </p>
    </div>
  </div>
</section>

<style>
  .about { background: var(--white); }

  .about-block {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .about-block p {
    font-size: 1.1rem;
    color: #444;
    line-height: 1.85;
    margin-bottom: 16px;
  }

  .about-block p:last-child {
    margin-bottom: 0;
  }

  .about-block p:first-child {
    font-size: 1.15rem;
    color: var(--blue);
    font-weight: 500;
  }

  @media (max-width: 768px) {
    .about-block p { font-size: 1rem; }
    .about-block p:first-child { font-size: 1.05rem; }
  }
</style>
